<a href="https://colab.research.google.com/github/Sarasvathi24/Python-Notes-/blob/main/Python_Class_Week_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Set**

In [1]:
s1 = {8.8, 'Data Science', 99, 2.2, 'Python'}

type(s1)

set

In [3]:
#set is important element for machine learning
#set will delete duplicates
#order the sequence to ascending order
print(s1)

{'Data Science', 2.2, 99, 'Python', 8.8}

In [5]:
s2 = {20, -10, 0, 5, 99, -10, 20, 2.2, 88}

print(s2)

{0, 2.2, 99, 20, 5, -10, 88}

In [7]:
#ascending order

s2

{-10, 0, 2.2, 5, 20, 88, 99}

In [8]:
#For strings, set will ider from a to z
#However, it will prioritise capital letter/the order of capital letter

s3 = {'data', 'ai','ML', 'python', 'big data'}

s3

{'ML', 'ai', 'big data', 'data', 'python'}

In [9]:
s4 = {'data', 'ai','ml', 'python', 'big data'}

s4

{'ai', 'big data', 'data', 'ml', 'python'}

In [10]:
s5 = {'Data', 'ai','ml', 'Python', 'Big data'}

s5

{'Big data', 'Data', 'Python', 'ai', 'ml'}

In [11]:
#add
#still follow the order/sequence
#if mix integer float and string, set will arrange order and prioritise integer and float first but sometimes not - tough to know WHY
s5.add('deel learning')

s5

{'Big data', 'Data', 'Python', 'ai', 'deel learning', 'ml'}

In [12]:
s2

{-10, 0, 2.2, 5, 20, 88, 99}

In [14]:
s2.add(10)

s2

{-10, 0, 2.2, 5, 10, 20, 88, 99}

In [15]:
#remove

s2.remove(88)

s2

{-10, 0, 2.2, 5, 10, 20, 99}

In [16]:
#intersection - having 2 sets and finding common items in 2 sets

set_a = {1, 3, 5, 7, 8, 9, 10, 11, 12, 13, 14} #actual data
set_b = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}    #predictive data

set_a.intersection(set_b)                     # we use for evaluation - how well the model predicts (the result is the performance of the model)

{1, 3, 5, 7, 8, 9, 10, 11}

In [17]:
#union - combining 2 sets
#removes duplicates (intersection)

set_a.union(set_b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [18]:
list_a = [1,2,3,4,1,2,5]

set_list_a = set(list_a)

set_list_a

{1, 2, 3, 4, 5}

In [19]:
#write a code to find the highest value in a list of numbers by using set only

list_b = [100, -99, 101, 88, 55.6, 0]

set_list_b = set(list_b)

set_list_b

{-99, 0, 55.6, 88, 100, 101}

In [27]:
# 2 Methods:
#need to change back to list since it is sorted in set and then identify the highest value
#use function max

list_set_list_b = list(set_list_b)

print(list_set_list_b)

print('The highest value is', list_set_list_b[-1])

[0, 100, 101, 55.6, 88, -99]
The highest value is -99

In [23]:
#Method 2:
print(max(set_list_b))

101

In [28]:
#difference - the items are there in set A (actual result) but not in set B (predictive model)
#so the model mispredicted

set_a.difference(set_b)

{12, 13, 14}

In [31]:
#incorrectly predicted (have in predictive result - set B but not in actual result - set A)
#to get 100% - set A & set B should be the same
#However in machine learning and dealing with big data, there is no 100% result which is fine and relevant

set_b.difference(set_a)

{2, 4, 6}

# **Dictionary**



*   Each item in the dictionary is presenting 2 things: Key & Value
*   Key : Value
*   Dictionary: {key1:value1 , key2:value2,....key:value}

In [32]:
# 3 items and 3 values - item is the key
# Hence, the key should be unique to identify the values
d1 = {'AI': 99, 8.8:['ML', 'DL'], (1,2,3): ['Big Data']}

d1

{'AI': 99, 8.8: ['ML', 'DL'], (1, 2, 3): ['Big Data']}

In [33]:
type(d1)

dict

In [34]:
#each key is the index in the dictionary

d1['AI']

99

In [38]:
#key error - no key as 99
d1[99]

KeyError: 99

In [35]:
#calling only the keys
d1.keys()

dict_keys(['AI', 8.8, (1, 2, 3)])

In [36]:
#calling only the values in the dictionary
d1.values()

dict_values([99, ['ML', 'DL'], ['Big Data']])

In [40]:
#use the key to update data
d1['AI'] = -10

d1

{'AI': -10, 8.8: ['ML', 'DL'], (1, 2, 3): ['Big Data']}

In [41]:
#deleting the item by mentioning it
d1.pop((1,2,3))

d1

{'AI': -10, 8.8: ['ML', 'DL']}

In [42]:
#key cannot be a list because its mutable, tuple can since its immutable
#key has to be unique

d2 = {[1,2]:99, (100,200):['obay']}

d2

TypeError: unhashable type: 'list'

In [43]:
d3 = {(1,2):99, (100,200):['obay']}

d3

{(1, 2): 99, (100, 200): ['obay']}

# **if statement, elif statement, else **

In [44]:
#indentation = space
country = 'Malaysia'

if country == 'Malaysia': #colon means True/False
  print('Country is Malaysia')

Country is Malaysia

In [45]:
country = 'Malaysia'

if country == 'Singapore': #False - since its false python will not process next line
  print('Country is Singapore')

In [46]:
country = 'Malaysia'

if country == 'Singapore': #False
  print('Country is Singapore')

else:
  print('Country is Malaysia')

Country is Malaysia

In [47]:
#else is the last result if both 'if' and 'elif' doesnt work/False
country = 'Malaysia'

if country == 'Singapore': #False
  print('Country is Singapore')

elif country == 'Thailand':#False
  print('Country is Thailand')

else:
  print('Country is Malaysia')

Country is Malaysia

In [48]:
#can have more than 1 elif
country = 'Malaysia'

if country == 'Singapore': #False
  print('Country is Singapore')

elif country == 'Thailand':#False
  print('Country is Thailand')

elif country != 'Singapore':#True - country is not Singapore !=
  print('Country is unknown')

#the elif condition is already done, so Python will skip else statement
else:
  print('Country is Malaysia')

Country is unknown

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%203/Images/CondsTable.png" width="650" />



*   and - if both statement True or both statement False
*   or - either 1 is True or either 1 is False

In [50]:
#
country = 'Malaysia'
year = 2024

if country == 'Malaysia' and year == 2020: #False
  print('Country is Malaysia and year is 2020')

In [51]:
country = 'Malaysia'
year = 2024

if country == 'Malaysia' or year == 2020: #either 1 is true
  print('Country is Malaysia and year is 2020')

Country is Malaysia and year is 2020

In [52]:
#use the > symbol
country = 'Malaysia'
year = 2024

if country == 'Malaysia' or year > 2020: #either 1 is true
  print('Country is Malaysia and year is 2020')

Country is Malaysia and year is 2020

In [53]:
country = 'Malaysia'
year = 2024

if country == 'Malaysia' and year == 2020: #False
  print('Country is Malaysia and year is 2020')

elif country == 'Malaysia' and year > 2020:#True
  print('Country is Malaysia and year is earlier than 2020')

Country is Malaysia and year is earlier than 2020

In [55]:
#write a code for finding the even and odd numbers

num = 11

if num % 2 == 0:
  print('the number is even')
else:
  print('the number is odd')

the number is odd

In [57]:
#we calculate by inserting input

input_num = input('Enter a number: ')

input_num = int(input_num)

if num % 2 == 0:
  print('the number is even')
else:
  print('the number is odd')

Enter a number: 9
the number is odd

In [59]:
#nested if. elif, else statements

price = 1000
car = 'Proton'

if price > 500: #True
  if price == 700: #False
    print('The price is more than 700')

  else:
    if price == 100 or car == 'Proton': #True
      print('Car is Proton')

    else:
      print('Price and Car are unknown')

Car is Proton

In [61]:
#case sensitive - small p for proton
price = 1000
car = 'Proton'

if price > 500: #True
  if price == 700: #False
    print('The price is more than 700') #1 block of code(nested statement - indentation - 1 tab or 4 spaces)

  else:
    if price == 100 or car == 'proton': #True
      print('Car is Proton') #another block of code

    else:
      print('Price and Car are unknown')

Price and Car are unknown

In [66]:
#can use this method but this is not nested statement
price = 1000
car = 'Proton'

if price < 500:
  print('The price exceeds')
elif price == 700: #False
  print('The price is more than 700') #1 block of code

elif price == 1000:
 print('Car is Proton') #another block of code

else:
  print('Price and Car are unknown')

Car is Proton

# **Loops and While Loops**

In [67]:
#repeating the same block of code until get the final result

list_num = [100, 200, 300, 400, 500]

print(list_num[0])
print(list_num[1])
print(list_num[2])
print(list_num[3])
print(list_num[4])

100
200
300
400
500

**For Loop**

In [68]:
list_num

[100, 200, 300, 400, 500]

In [69]:
#run based on the number of items
#instead of writing for each of the item, can use for loop

for i in list_num: #100 (first run) #200 (second run since first one is done) #300 #400 #500 (for loop will come again to run another item, since no more then it will stop automatically)
  print(i)

100
200
300
400
500

In [70]:
#range -  to count numbers

for num in range (1, 10):
  print(num)

1
2
3
4
5
6
7
8
9

In [73]:
numbers = [1,2,3,4,5,6]
#write a code to print all the numbers below 5
#we set conditions
#it will start count after the number we assign
for num in numbers:
  if num < 5:
    print(num)

1
2
3
4

In [84]:
for num in range(1,6):
  if num != 5:
    print(num)

1
2
3
4

In [98]:
#to get both keys and values, use items()function
#if only keys, then can print straight away or can use function .keys()
#if onluy values, then values()

numbers = {1:(1,2), 2:[3,4],'AI':(1,2.2,3)}

for num in numbers.items():
    print(num)

(1, (1, 2))
(2, [3, 4])
('AI', (1, 2.2, 3))

In [101]:
numbers = {1:(1,2), 2:[3,4],'AI':(1,2.2,3)}

for num in numbers.keys():
    print(num)

1
2
AI

In [100]:
numbers1 = [-1,2,1,3,5,4,0]

#write a code to print all the numbers below 5

for i in numbers1:
  if i < 5:
    print(i)

-1
2
1
3
4
0

**While loop**

In [106]:
# more difficult
# less used than for loop
# while loop will repeat and recalls the last output
# write a code to print all the numbers below 3 by using while loop

numbers = [1,2,3,4,5,6]

i = 0 #i is index
num = None

while (num!=3): #True
  num = numbers[i] #first index in the numbers - 1
  i = i + 1
  print(num)

1
2
3

In [105]:
numbers = [1,2,3,4,5,6]

i = 0 #i is index
num = None

while (num < 5): #True
  num = numbers[i] #first index in the numbers - 1
  i = i + 1
  print(num)

  #can only use = or != for the condition

TypeError: '<' not supported between instances of 'NoneType' and 'int'

In [110]:
#nested loop

names = ['Mohammed', 'Noor', 'Chyrel']

for a in names: #print first item in the list
  print(a)

  for b in a:#print first letter in the item
    print(b)

  print('') #to insert space in between

Mohammed
M
o
h
a
m
m
e
d

Noor
N
o
o
r

Chyrel
C
h
y
r
e
l

In [116]:
#write a code to print only even numbers in range of numbers 20

for i in range (21):
  if i%2 == 0:
    print(i)

0
2
4
6
8
10
12
14
16
18
20

In [123]:
#how to put the output in a list
list_even = []

for i in range (21):
  if i%2 == 0:
    list_even.append(i)

    print(list_even) #print is within the same loop so it will print repeatedly

[0]
[0, 2]
[0, 2, 4]
[0, 2, 4, 6]
[0, 2, 4, 6, 8]
[0, 2, 4, 6, 8, 10]
[0, 2, 4, 6, 8, 10, 12]
[0, 2, 4, 6, 8, 10, 12, 14]
[0, 2, 4, 6, 8, 10, 12, 14, 16]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [124]:
list_even = []

for i in range (21):
  if i%2 == 0:
    list_even.append(i)

print(list_even) #it will only print the final output

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

**Question 1: Give a list of numbers, write a code to calculate the sum of even numbers in that list**

In [134]:

sum_even = 0

for i in range(10):
  if i%2 == 0:
    sum_even = sum_even + i

print('The sum of all even numbers are:', sum_even)

The sum of all even numbers are: 20

**Question 2: Given a string, write a code to calculate the number of vowels (a,e,i,o,u) in the string.**

**The string is: 'Hello World'**

In [137]:
str_a = 'Hello World'

for i in str_a:
  if i == 'a' or i == 'e':
    print(i)

  elif i == 'i' or i == 'o' or i == 'u':
    print(i)

e
o
o

In [141]:
str_a = 'Hello World'
vowels = ['a', 'e', 'i', 'o', 'u']

for i in str_a:
  if i in vowels:
    print(i)

e
o
o

In [144]:
string = 'Artificial Intelligence'

count_vowel = 0

for vow in string.lower():
   if vow in 'a,e,i,o,u': #the lower() function will make the all the letters in string lower case
    count_vowel = count_vowel+1 # or we can write countvowel += 1 (to count the number of vowels)

print('The number of vowels are:',count_vowel)

The number of vowels are: 10

In [145]:
string = 'Artificial Intelligence'

count_vowel = 0

for vow in string.upper(): #the upper() - will make all as capital letters ('ARTIFICIAL INTELLIGENCE') and run the loop
  if vow in 'A,E,I,O,U': #make sure the vowel we assign is capital as well
    count_vowel = count_vowel+1 # or we can write countvowel += 1

print('The number of vowels are:',count_vowel)

The number of vowels are: 0

In [147]:
string = 'Artificial Intelligence'

count_vowel = 0

for vow in string: # no function is assigned, hence it will count as per the one we assign below
  if vow in 'a,e,i,o,u': #make sure the vowel we assign is capital as well
    count_vowel = count_vowel+1 # or we can write countvowel += 1

print('The number of vowels are:',count_vowel)

The number of vowels are: 8

# ***Function***

To define a function in Python, use the "def" keyword, followed by the function name, parentheses, and a colon. The body of the function is indented and contains the code to be executed when the function is called.

def funname(arguments):

In [148]:
def first_function():
  '''
  This is my first function #it is a comment/docstring
  '''
  print('This is my first function')

In [149]:
first_function() #the function is saved in Python (just like builti-in function)

This is my first function

In [150]:
def sum_num(a,b):
  ''' this function is about summing two numbers '''
  c = a + b
  print(c)

In [151]:
sum_num(10,5)

15

In [153]:
sum_num(10) #error because this function is supposed to have 2 arguements

TypeError: sum_num() missing 1 required positional argument: 'b'

In [154]:
sum_num('Big', 'Data') #concatenating a string also can

BigData

In [155]:
def sum_num(a,b):
  ''' this function is about summing two numbers '''
  c = float(a) + float(b)
  print(c)

In [157]:
#we has assigned the result to be float
sum_num('Big', 'Data')

ValueError: could not convert string to float: 'Big'

In [158]:
def multi_num(a,b,c):
  d = a*b*c
  return(d)
  #print = display whatever it is
  # return = the value can be used later on

**print vs return**

To summarize, "print" is used to output values to the console for debugging or informational purposes, while "return" is used to send a value back from a function to the calling code. If you want to use the result of a function in other parts of your code, you need to use "return" to make that value available outside the function.



*print just shows the human user a string representing what is going on inside the computer. The computer cannot make use of that printing. return is how a function gives back a value. This value is often unseen by the human user, but it can be used by the computer in further functions.*

In [159]:
multi_num(10,1,2)

20

In [172]:
def num(c):
  for i in num(c):
    if i % 2== 0:
      return('It is an even number',i)

    elif i % 2 == 1:
      return('It is an odd number',i)

In [173]:
even_num(2)

('It is an even number', 2)

In [190]:
def even_num(c):
    if c % 2== 0:
      return('It is an even number',c)

    elif c % 2 == 1:
      return('It is an odd number',c)

In [191]:
even_num(3)

('It is an odd number', 3)

In [201]:
def even_odd():
  input_num = input('Enter a number')

  input_num = int(input_num)

  if input_num%2 == 0:
    print ('The number is even')

  else:
    print ('The number is odd')

In [205]:
even_odd()

Enter a number5
The number is odd

**Write a function to find the highest value in a list of numbers without using other functions.**

In [179]:
list_num = [100, 0, 5, 200, -20, 8.8]

highest = list_num[0]

for i in list_num:
  if i > highest:
    highest = i

print('The highest value in the list is', highest)

The highest value in the list is 200

In [184]:

  list_num = [100, 0, 5, 200, -20, 8.8]

  highest = list_num[0]
  lowest = list_num[0]

  for i in list_num:
    if i > highest:
      highest = i
    if i < lowest:
      lowest = i

print('The highest value in the list is', highest)
print('The lowest value in the list is', lowest)

The highest value in the list is 200
The lowest value in the list is -20

In [188]:
def high_low(list_num):
  highest = list_num[0]
  lowest = list_num[0]

  for i in list_num:
    if i > highest:
      highest = i
    if i < lowest:
      lowest = i

  print('The highest value in the list is', highest)
  print('The lowest value in the list is', lowest)

In [189]:
list_num_1 = [300, 111, 400, -2, 0, 55, 8.8, -99, 1.5, 44]

high_low(list_num_1)

The highest value in the list is 400
The lowest value in the list is -99

Write a function to sum the even numbers in a list of numbers

In [197]:
def sum_even(list_num):
  count_even = 0

  for i in list_num:
    if i % 2 == 0:
      count_even = count_even + i

  print('The total of even numbers are:', count_even)

In [198]:
sum_even(list_num_1)

The total of even numbers are: 742

In [ ]:
#find the missing value in the list below

list_missing = [1,4,3,2,5,8,7] #sort first
#use index + 1